body
{
	background: whitesmoke;
	font-family: sans-serif;
}
table
{
	border: 1px solid;
	border-color: #000000;
	border-collapse: collapse;
}
th
{
	background: #008B8B;
}
td, th
{
	border: 1px solid;
	border-color: #777;
	empty-cells: show;
	padding: 4px;
	margin: 0;
}
.right
{
	text-align: right;
}
a
{
	text-decoration: none;
	color: #4B0082;
}
.geenlijnen, .geenlijnen td
{
	border: 0px;
}
body.menu
{
	margin: 80px 80px 80px 80px;
}
img
{
	border: 0px;
}
.hidden
{
	display: none;
}
